@"
# Python cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Virtual environment
venv/
env/
ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset folders
data/
data_cropped/

# OS-specific
.DS_Store
Thumbs.db

